<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDF</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
        }

        table, th, td {
            border: 1px solid black;
        }

        td, th {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>egyediAzonosito</th>
        <th>tranzakcioszam</th>
        <th>konyvelesDatuma</th>
        <th>partnerNev</th>
        <th>osszeg</th>
    </tr>
    </thead>
    {% for row in rows %}
        <tr>

            <td>{{ row.egyediAzonosito }}</td>
            <td>{{ row.tranzakcioszam }}</td>
            <td>{{ row.konyvelesDatuma|date('Y-m-d H:i:s') }}</td>
            <td>{{ row.partnerNev }}</td>
            <td>{{ row.osszeg.amount|number_format(0, '', ' ') }} {{ row.osszeg.currency }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
